.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    width: 500px;
    padding: 1.3rem;
    min-height: 250px;
    position: absolute;
    z-index: 2;
    top: 10%;
    left: 25%;
    background-color: #e8dfdf;
    border: 1px solid #ddd;
    border-radius: 15px;
}

.modal .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal input {
    padding: 0.7rem 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 0.9em;
}

.modal p {
    font-size: 0.9rem;
    margin: 1.5rem 0 0.2rem;
}

.modal h1 {
    font-size: 1.5rem;
    margin: 0.5rem 0 0.2rem;
}

button {
    cursor: pointer;
    border: none;
    font-weight: 600;
}

.btn {
    display: inline-block;
    padding: 0.8rem 1.4rem;
    font-weight: 700;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
}

.btn-open {
    position: absolute;
    bottom: 150px;
}

.btn-close {
    transform: translate(10px, -20px);
    padding: 0.5rem 0.7rem;
    background: #eee;
    border-radius: 50%;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
}

.hidden {
    display: none;
}

.page-frame-preview {
    background-color: #bbbbbb;

    width: 100%;
    height: 40rem;
}

/* style color picker */

#style1 {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 150px;
    height: 50px;
    background-color: transparent;
    border: none;
    margin-left: 10px;
    cursor: pointer;
  }
  #style1::-webkit-color-swatch {
    border-radius: 3px;
    border: none;
  }
  #style1::-moz-color-swatch {
    border-radius: 15px;
    border: none;
  }

  input {
    width: 200px;
    height: 45px;
    border-radius: 4px;
    border-color: #E0D6D6;
    border-width: 1px;
    font-size: medium;
    font: Courier;
  }

  .text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}